# Data files
*.xlsx
*.xls

# Ignored CSV files (too large)
traffic_violations_cleaned.csv
Traffic_Violations.csv

# Large model files
*.keras
*.h5
src/models/
outputs/

# Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

# Environment
.env
env/
venv/
.conda/
